h1 {
    font-family: 'Crete Round', serif;
    margin: 10px 0 0 0;
    border-radius: 7px 7px 0 0;
    border-bottom: solid 3px #970b12;
    -webkit-margin-before: 10px;
    -webkit-margin-after: 0;
    padding-top: 10px;
    padding-bottom:  5px;
    font-size: 2em;
    text-align: center;
    color: rgb(250, 198, 53);
    background-color: rgba(228, 238, 245, 0.349);
}
html, body {
    background-color: rgb(90, 129, 16);
}
.button-row{
    padding: 0.7em;
}
button{
    display: inline-block;
    background-color: white;
    height: 32px;
    width: 32px;
    border: 0;
    pointer-events: auto;
}
button:focus{
    outline: 0;
}

.button {
    padding: 0 1em;
}

#quote-container {
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 7px 7px;
}
#quote {
    color: rgb(55, 80, 10);
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.8em;
    text-align: left;
    padding: 1em;
}
#author {
    color: rgb(90, 129, 16);
    font-family: 'Pinyon Script', cursive;
    font-size: 2em;
    text-align: center;
    padding-left: 5em;
    padding-bottom: 10px;
    border-bottom: solid 3px #970b12;
    margin: 0;
}


.container {
    margin-top: 2em;
}

@media (min-width: 768px){
    .container {
        max-width: 600px;
        margin-top: 10em;
        line-height: 2em;
    }
}
@media (max-width: 768px) {
    .container {
        margin-top: 5px;
    }
    h1 {
        font-size: 1.5em;
    }
    #quote{
        font-size: 1.2em;
        line-height: 1em;
    }
    #author{
        font-size: 1.8em;
        padding-left: 2em;
    }
    .button > img {
        width: 32px;
        height: 32px;
    }
}
